<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InsrTehSnab</title>

    <link rel='stylesheet' href='~/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/owl.carousel.min.css'>
    <link rel='stylesheet' href='~/css/animated.css'>
    <link rel='stylesheet' href='~/css/font-awesome.css'>
    <link rel='stylesheet' href='~/css/ui.css'>
    <link rel='stylesheet' href='~/css/jquery.mmenu.all.css'>
    <link rel='stylesheet' href='~/css/flaticon.css'>
    <link rel='stylesheet' href='~/css/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i;Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body>
    <header class="header header-style1">
        <div class="header-mid">
            <div class="container">
                <div class="header-mid-left">
                    <p class="wellcome-to">Wellcome to Super Market</p>
                    <p class="register-or-login">
                        <a href="#" class="register">Register</a>
                        or
                        <a href="#" class="login">Login</a>
                    </p>
                </div>
                <div class="header-mid-right">
                    <div class="header-mid-right-content">
                        <a href="#">
                            <i class="flaticon-user-outline"></i>
                            My Account
                        </a>
                    </div>
                    <div class="header-mid-right-content">
                        <a href="#">
                            <i class="flaticon-like"></i>
                            My Wishlist
                        </a>
                    </div>
                    <div class="header-mid-right-content">
                        <a href="#">
                            <i class="flaticon-check-square"></i>
                            Check Out
                        </a>
                    </div>
                    <div class="header-mid-right-content country-select-menu">
                        <div class="country-select">
                            <div class="country select">
                                <img src="~/images/flag.jpg" alt="flag" width="24" height="17">
                                English
                            </div>
                            <div class="country-dropdown">
                                <div class="country">
                                    <img src="~/images/flag2.jpg" alt="flag" width="24" height="17">
                                    Hungary
                                </div>
                                <div class="country">
                                    <img src="~/images/flag3.jpg" alt="flag" width="24" height="17">
                                    German
                                </div>
                                <div class="country">
                                    <img src="~/images/flag4.jpg" alt="flag" width="24" height="17">
                                    French
                                </div>
                                <div class="country">
                                    <img src="~/images/flag5.jpg" alt="flag" width="24" height="17">
                                    Canada
                                </div>
                                <div class="country">
                                    <img src="~/images/flag6.jpg" alt="flag" width="24" height="17">
                                    Australia
                                </div>
                            </div>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>

                    </div>
                    <div class="header-mid-right-content money-select-menu">
                        <div class="money-select">
                            <div class="money select">
                                USD
                            </div>
                            <div class="money-dropdown">
                                <div class="money">
                                    EGP
                                </div>
                                <div class="money">
                                    EURO
                                </div>
                                <div class="money">
                                    USD
                                </div>

                            </div>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-left">
                    <h1 class="logo">
                        <a href="index.html">
                            <img src="~/images/logo.png" alt="logo">
                        </a>
                    </h1>
                    <div class="header-search">
                        <form action="form.php" class="form form-search-header">
                            <input type="text" placeholder="Search...">
                            <button class="button-search"><i class="flaticon-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="header-bottom-right">
                    <div class="header-bottom-right-content">
                        <a href="#">
                            <i class="flaticon-like"></i>
                            Favorites
                        </a>
                    </div>
                    <div class="header-bottom-right-content cart-menu-relative">
                        <div class="cart-menu">
                            <a href="#">
                                <i class="flaticon-commerce"></i>
                                Cart
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                <p class="cart-amount">6</p>
                            </a>
                        </div>
                        <div class="cart-hover">
                            <div class="cart-hover-title">Your Products <span>Prices</span></div>
                            <ul class="list-hover-cart">
                                <li class="hover-cart-item">
                                    <a href="#" class="img-hover-cart">
                                        <img src="~/images/img-hover-cart.jpg" alt="img-hover-cart" width="75" height="89">
                                        <span class="delete-product-hover-cart"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                                    </a>
                                    <div class="text-hover-cart">
                                        <a href="#" class="name-hover-cart">
                                            Men's Skagen Watch
                                            Vesion 2.0
                                        </a>
                                        <div class="quantity">
                                            <p class="quanlity-hover-cart">Quanlity: <span>1</span></p>
                                        </div>
                                    </div>
                                    <div class="price-hover-cart">$150</div>
                                </li>
                            </ul>
                            <div class="subtotal-hover-cart">Subtotal <span>$150</span></div>
                            <div class="button-cart-hover">
                                <a href="#" class="go-to-cart button">Go to cart</a>
                                <a href="#" class="check-out button orange">Check Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-primary">
            <div class="container">
                <a href="#categories-menu" class="menu-button categories-menu-button">
                    Categories<span class="flaticon-bars"></span>
                </a>
                <nav class="menu-item has-mega-menu" id="categories-menu">
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="#">Categories</a>
                            <span class="click-categories flaticon-bars"></span>
                            <div class="category-drop-list">
                                <div class="category-drop-list-inner">
                                    <ul class="sub-menu sub-menu-open">
                                        <li class="menu-item"><a href="#">Automovie & Motorcyle</a></li>
                                        <li class="menu-item"><a href="#">Electronics</a></li>
                                        <li class="menu-item"><a href="#">Sport & Outdoors</a></li>
                                        <li class="menu-item has-mega">
                                            <a href="#">Smartphone & Table</a>
                                            <div class="sub-menu mega-menu">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="mega-content">
                                                            <p class="mega-item-title">Mobile Phones</p>
                                                            <ul class="menu">
                                                                <li class="menu-item"><a href="#">Octa Core</a></li>
                                                                <li class="menu-item"><a href="#">Quad Core</a></li>
                                                                <li class="menu-item"><a href="#">Single SIM Card</a></li>
                                                                <li class="menu-item"><a href="#">Dual SIM Card</a></li>
                                                                <li class="menu-item"><a href="#">3GB RAM</a></li>
                                                                <li class="menu-item"><a href="#">5.0 Display</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega-content">
                                                            <p class="mega-item-title">Mobile Phone Part</p>
                                                            <ul class="menu">
                                                                <li class="menu-item"><a href="#">Mobile Phone LCDs</a></li>
                                                                <li class="menu-item"><a href="#">Mobile Phone Batteries</a></li>
                                                                <li class="menu-item"><a href="#">Mobile Phone Housings</a></li>
                                                                <li class="menu-item"><a href="#">Signal Boosters</a></li>
                                                                <li class="menu-item"><a href="#">SIM Card & Tools</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="mega-content">
                                                            <p class="mega-item-title">Phone Bag Cases</p>
                                                            <ul class="menu">
                                                                <li class="menu-item"><a href="#">Pouches</a></li>
                                                                <li class="menu-item"><a href="#">Bumper Cases</a></li>
                                                                <li class="menu-item"><a href="#">Waterproof Cases</a></li>
                                                                <li class="menu-item"><a href="#">Leather Cases</a></li>
                                                                <li class="menu-item"><a href="#">Aluminum Cases</a></li>
                                                                <li class="menu-item"><a href="#">Rhinestone Cases</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega-content">
                                                            <p class="mega-item-title">Walkies Talkies</p>
                                                            <ul class="menu">
                                                                <li class="menu-item"><a href="#">Walkie-Talkies</a></li>
                                                                <li class="menu-item"><a href="#">Walkie-Talkie Accessories</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="mega-content">
                                                            <p class="mega-item-title">Mobile Phone Accessories</p>
                                                            <ul class="menu">
                                                                <li class="menu-item"><a href="#">Backup Battery Packs</a></li>
                                                                <li class="menu-item"><a href="#">Screen Protectors</a></li>
                                                                <li class="menu-item"><a href="#">Mobile Phone Cables</a></li>
                                                                <li class="menu-item"><a href="#">Chargers</a></li>
                                                                <li class="menu-item"><a href="#">Holders & Stands</a></li>
                                                                <li class="menu-item"><a href="#">Mobile Phone Lenses</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="mega-content">
                                                            <p class="mega-item-title">Comunications Equiment</p>
                                                            <ul class="menu">
                                                                <li class="menu-item"><a href="#">Antennas for Communications</a></li>
                                                                <li class="menu-item"><a href="#">Communication Cables</a></li>
                                                                <li class="menu-item"><a href="#">Fiber Optic Equipment</a></li>
                                                                <li class="menu-item"><a href="#">Fixed Wireless Terminals</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="img-mega">
                                                            <figure><img src="~/images/mega.jpg" alt="mega" height="458" width="229"></figure>
                                                            <div class="img-mega-asblute">
                                                                <p>SAMSUNG</p>
                                                                <h3>Galaxy S7 Edge</h3>
                                                                <a href="#" class="button orange">shop now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="menu-item"><a href="#">Health & Beauty</a></li>
                                        <li class="menu-item"><a href="#">Bags & Shoes</a></li>
                                        <li class="menu-item"><a href="#">Accessories</a></li>
                                        <li class="menu-item"><a href="#">Toy & Hobbies</a></li>
                                        <li class="menu-item"><a href="#">Computer & Networking</a></li>
                                        <li class="menu-item"><a href="#">Laptop & Accessories</a></li>
                                        <li class="menu-item"><a href="#">Camera & Lamp</a></li>
                                        <li class="menu-item"><a href="#">Fashion & Accecssories</a></li>
                                        <li class="menu-item"><a href="#">Watch & Shoes</a></li>
                                        <li class="menu-item"><a href="#">Fashion & Accecssories</a></li>
                                        <li class="menu-item"><a href="#">Watch & Shoes</a></li>
                                    </ul>
                                    <span class="more-categories open-cate">More Categories</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <a href="#primary-navigation" class="menu-button primary-navigation-button">
                    <span class="flaticon-bars"></span>Main Menu
                </a>
                <nav id="primary-navigation" class="site-navigation main-menu">
                    <ul id="primary-menu" class="menu">
                        <li class="menu-item has-childrent active">
                            <a href="">Home</a>
                            <ul class="sub-menu">
                                <li class="menu-item active"><a href="index.html">Home 1</a></li>
                                <li class="menu-item"><a href="home-v2.html">Home 2</a></li>
                                <li class="menu-item"><a href="home-v3.html">Home 3</a></li>
                                <li class="menu-item"><a href="home-v4.html">Home 4</a></li>
                                <li class="menu-item"><a href="home-v5.html">Home 5</a></li>
                                <li class="menu-item"><a href="home-v6.html">Home 6</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">New Arrival</a></li>
                        <li class="menu-item"><a href="#">Deals</a></li>
                        <li class="menu-item has-childrent">
                            <a href="#">Shop</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="categories-grid.html">Categories Grid 1</a></li>
                                <li class="menu-item"><a href="category-grid-right-sidebar.html">Categories Grid 1 Right Sidebar</a></li>
                                <li class="menu-item"><a href="categories-grid2.html">Categories Grid 2</a></li>
                                <li class="menu-item"><a href="categories-grid2-right-sidebar.html">Categories Grid 2 Right Sidebar</a></li>
                                <li class="menu-item"><a href="categories-grid3.html">Categories Grid 3</a></li>
                                <li class="menu-item"><a href="categories-list1.html">Categories List 1</a></li>
                                <li class="menu-item"><a href="categories-list1-right-sidebar.html">Categories List 1 Right Sidebar</a></li>
                                <li class="menu-item"><a href="categories-list2.html">Categories List 2</a></li>
                                <li class="menu-item"><a href="categories-list2-right-sidebar.html">Categories List 2 Right Sidebar</a></li>
                            </ul>
                        </li>


                        <li class="menu-item has-childrent">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="blogpost.html">Blog Post</a></li>
                                <li class="menu-item"><a href="product-detail.html">Product Detail</a></li>
                                <li class="menu-item"><a href="shopping-carrt.html">Cart</a></li>
                                <li class="menu-item"><a href="checkout.html">Check Out</a></li>
                                <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                                <li class="menu-item"><a href="about.html">About US</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="blog.html">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - InsrTehSnab</p>
        </footer>
    </div>

    <script type='text/javascript' src='~/js/jquery.min.js'></script>
    <script type='text/javascript' src='~/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='~/js/wow.min.js'></script>
    <script type='text/javascript' src='~/js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='~/js/jquery.appear.min.js'></script>
    <script type='text/javascript' src='~/js/jquery.countTo.js'></script>
    <script type='text/javascript' src='~/js/ui.js'></script>
    <script type='text/javascript' src='~/js/jquery.bxslider.min.js'></script>
    <script type='text/javascript' src='~/js/jquery.mmenu.all.min.js'></script>
    <script type='text/javascript' src='~/js/chosen.jquery.min.js'></script>
    <script type='text/javascript' src='~/js/jquery.countdown.js'></script>
    <script type='text/javascript' src='~/js/frontend.js'></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
